# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
url1='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url2='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
cars1=pd.read_csv(url1)
cars2=pd.read_csv(url2)

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1=cars1.loc[:,"mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [7]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

In [9]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
#列相同竖着加直接append
cars = cars1.append(cars2)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [16]:
cars.shape[0]

398

In [18]:
#创造随机数？？？
#numpy.random.randint(low, high=None, size=None, dtype='l')
#Return random integers from low (inclusive) to high (exclusive).
#Return random integers from the “discrete uniform” distribution of the specified dtype in the “half-open” interval [low, high). 
#If high is None (the default), then results are from [0, low).
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')

### Step 8. Add the column owners to cars

In [20]:
cars['owners']=nr_owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,56614
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,64269
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,65585
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,40316
4,17.0,8,302,140,3449,10.5,70,1,ford torino,46186